* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    height: 100%;
}

.body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.container {
    margin: auto;
    width: 1000px;
}

.centered-container {
    text-align: center;
}

#gitlab-link {
    padding-left: 5px;
}

.scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.scaled-image-fixed {
    display: block;
    width: 100px;
    height: 100px;
}

.main {
    flex-basis: 5rem;
    position: relative;
    flex-grow: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #7db46c;
    color: #e7ebe0;
}

.nav-links a, .nav-span {
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #e7ebe0;
    text-decoration: none;
    outline: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
}

.menu li:hover {
    background-color: #287d3c;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 20px 25px;
}

.menu-username {
    margin: 0;
}

/*RESPONSIVE NAVBAR*/
.nav-checkbox {
    display:none;
}

.hamburger {
    display:none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        background-color: #7db46c;
        right: 0;
        left: 0;
        top: 140px;
        text-align: center;
        padding: 20px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #287d3c;
        z-index: 1000;
        
    }
    .menu li + li {
        margin-top:12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display:block;
        z-index: 1001;
    }
    .hamburger {
        display:block;
    }
}

.stations {
    position: relative;
}

.submenu {
    background-color: #7db46c;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 45px;
}

.submenu li + li {
    margin-top: 5px;
}

.submenu li {
    padding: 0.5em 1em;
    width: 15em;
    text-align: center;
}

.submenu li:hover {
    background-color: #287d3c;
}

.stations:hover .submenu {
    display:block;
    z-index: 1000;
}

.main-color-green {
    background-color: #7db46c;
}

.main-color-blue {
    background-color: #abd6df;
}

.main-color-gray {
    background-color: #e7ebe0;
}

.main-color-yellow {
    background-color: #fee715;
}

.home {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.home-image {
    width: 65%; 
    height: auto;
    display:inline-block
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #287d3c;
    box-sizing: border-box;
}

.btn {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #287d3c;
    color:white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 40%
}

.reset-btn {
    background-color: grey;
}

.btn:hover {
    opacity: 0.8;
}

.form-container {
    width: 50%;
    height: 50%;
    margin:auto;
}

.form-title {
    text-transform: uppercase;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #287d3c;
    width: auto;
    margin: auto;
    text-align: center;
}

.btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    padding:20px;
    flex: 50%;
}

@media screen and (max-width: 768x) {
    .column {
      width: 100%;
    }
}
.left-container {
    float: left;
    width: 66%;
    height: 77.1vh;
    border-right: dashed;
}

.right-container {
    float: left;
    height: 77.1vh;
    width: 34%;
    overflow: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-content {
    text-align: center;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#e7ebe0;
}

.alert {
    margin-top: 2em;
    position: relative;
    padding: 6px 12px 6px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-danger {
    color: white;
    background-color: #f48989;
    border-color: #da1414;
}

.alert-success {
    color: white;
    background-color: #5aca75;
    border-color: #287d3c;
}

.list-item-saviour {
    background-color: #c9c9c9;
    margin: 5px 0;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-item {
    background-color: #c9c9c9;
    margin: 5px 0;
}

.lista-item-text {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lista-item-text-content {
    margin: 10px;
    font-size: large;
} 

.normal-text{
    color: black;
}

.see-more {
    color: blue;
    cursor: pointer;
}

.see-more:hover {
    text-decoration: underline;
}

.register-buttons > form{
    display: inline-block;
}

.accept-button {
    color: darkgreen;
    background-color: lightgreen;
    border-color: #287d3c;
    border: none;
}

.ban-button {
    color: darkred;
    background-color: pink;
    border-color: darkred;
    border: none;
}

.add-button {
    color: darkblue;
    background-color: lightblue;
    border-color: darkblue;
    border: none;
}

.edit-button {
    color: rgb(66, 66, 66);
    background-color: grey;
    border-color: rgb(66, 66, 66);
    border: solid 2px;
    display: block;
}

.transport-button {
    color: rgb(72, 179, 214);
    background-color: lightblue;
    border-color: rgb(69, 98, 228);
    border: solid 2px;
    display: block;
}

.transport-button > i, .edit-button > i {
    padding-left: 17px;
}

.ban-button, .accept-button, .add-button, .transport-button, .edit-button {
    width: 60px;
    height: 30px;
    border-radius: 10%;
}

.ban-button:hover, .accept-button:hover, .add-button:hover, .transport-button:hover {
    border: solid 2px;
}

.edit-button:hover {
    background-color: rgb(182, 182, 182);
    color: rgb(66, 66, 66);
    border-color: rgb(66, 66, 66);
}

.accept-button:active {
    background-color: rgb(35, 158, 35);
}

.ban-button:active {
    background-color: palevioletred;
}

.add-button:active {
    background-color: cyan;
}

.edit-button:active {
    background-color: rgb(99, 99, 99);
    color: rgb(66, 66, 66);
    border-color: rgb(66, 66, 66);
}

.transport-button:active {
    background-color: grey;
    color: rgb(72, 179, 214);
    border-color: rgb(69, 98, 228);
}

.green-border {
    border: solid 2px darkgreen;
    border-radius: 5px;
}

.width-correction {
    width: inherit;
}

fieldset {
    border:none;
}

fieldset > * {
    margin-left: 10px;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

fieldset > input{
    margin-left: 10px;
    margin-bottom: 10px;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 24.5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-add-saviour {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.check-container:hover input ~ .check-add-saviour {
    background-color: lightgreen;
  }
  
/* When the checkbox is checked, add a lightgreen background */
.check-container input:checked ~ .check-add-saviour {
    background-color: lightgreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-add-saviour:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .check-add-saviour:after {
display: block;
}

/* Style the checkmark/indicator */
.check-container .check-add-saviour:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.map-container {
    border: #287d3c solid 4px;
    width: 1000px;
    height: 415px;
}

img.container {
    margin-bottom: 10px;
}

.big-button {
    padding: 10px;
    font-size: 20px;
}