<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Akcija</title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="list-item" th:each="action: ${actions}">
               <div class="lista-item-text">
                    <div class="lista-item-text-content" th:text="${action.lokacija}"></div>
                    <div class="lista-item-text-content" th:text="${action.status}"></div>
                    <a class="edit-button" th:href="@{action/{id}(id=${action.idAkcija})}">View akcija</a>
                    <form action="/closeaction" method="post">
                        <input type="hidden" name="id" th:value="${action.idAkcija}">
                        <button type="submit" title="Zatvori akciju"><i class="far fa-window-close"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>