<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Akcija ' + ${action.idAkcija}"></title>
    <th:block th:include="fragments/map.html :: mapfiles">
    </th:block>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <div class="left-container" th:insert="fragments/map.html :: map">

        </div>
        <div class="right-container">
            <!-- <div class="voronoi-menu">
                <label>Prikaz karte:</label><br>
                        <select th:field="*{vrstaSpecijalizacije}">
                            <option value="Svi spasioci" selected>Svi spasioci</option>
                            <option value="Aktivni spasioci na akciji"></option>
                            <option value="Dostupni neaktivni spasioci">Vatrogasac</option>
                        </select><br>
            </div> -->
            <h2>Akcija <span th:text="${action.idAkcija}"></span></h2>
            <div class="list-item" th:each="spasilac: ${action.spasilaci}">
                <div class="lista-item-text">
                    <div class="lista-item-text-content" th:text="${spasilac.korisnik.ime}"></div>
                    <div class="lista-item-text-content" th:text="${spasilac.korisnik.getVrstaSpecijalizacije().toCroWord(spasilac.korisnik.getVrstaSpecijalizacije())}"></div>
                    <div>
                        <form action="/removesaviour" method="post">
                            <input type="hidden" name="id" th:value="${spasilac.idSpasilac}">
                            <button class="ban-button" type="submit" title="Makni spasioca sa akcije"><i class="fas fa-minus"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:each="foto: ${action.fotografije}">
                <img class="photo scaled-image-fixed" th:src="@{'data:image/jpeg;base64,'+${foto.getPhotoInString()}}"/><br>
            </div>
        </div>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
<div  th:insert="fragments/map.html :: mapscripts">

</div>
</html>