<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akcija</title>
    <th:block th:include="fragments/map.html :: mapfiles">
    </th:block>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <div class="left-container" th:insert="fragments/map.html :: map">

        </div>
        <div class="right-container">
            <h2 th:unless="${allActions.size() == 0}">Akcija <span th:text="${allActions[0].actionId}"></span></h2><br>
            <div th:if="${allActions.size() == 0}">
                <p>Trenutno nemate aktivnih akcija</p>
                <p id="moreText"><br></p>
                <a class="see-more" id="toggleButton" onclick="toggleText()">See More</a><br>
            </div>
            <div th:unless="${allActions.size() == 0}" th:each="foto: ${action.fotografije}">
                <img class="photo scaled-image-fixed" th:src="@{'data:image/jpeg;base64,'+${foto.getPhotoInString()}}"/><br>
            </div>
        </div>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
<script>
    var status = "less";

    function toggleText()
    {
        var text="Pričekajte da vam dispečer pošalje zahtjev i provjerite je li vaš status postavljen na 'dostupan'";

        if (status == "less") {
            document.getElementById("moreText").innerHTML=text;
            document.getElementById("toggleButton").innerText = "See Less";
            status = "more";
        } else if (status == "more") {
            document.getElementById("moreText").innerHTML = "<br>";
            document.getElementById("toggleButton").innerText = "See More";
            status = "less"
        }
    }
</script>
<div  th:insert="fragments/map.html :: mapscripts">

</div>
</html>