<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Spasioca</title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <form action="/addSaviour" method="post">
                <div class="list-item-saviour" th:each="saviour: ${saviours}">
                    <div class="lista-item-text-content" th:text="${saviour.korisnik.ime}"></div>
                    <div class="lista-item-text-content" th:text="${saviour.korisnik.getVrstaSpecijalizacije().toCroWord(saviour.korisnik.getVrstaSpecijalizacije)}"></div>
                    <label class="check-container">
                        <input class="samo-input" type="checkbox" name="idSaviours" th:value="${saviour.idSpasilac}">
                        <span class="check-add-saviour"></span>
                    </label>
                </div>
                <button class="add-button" type="submit" title="Dodaj spasioca"><i class="fas fa-plus"></i></button>
            </form>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
<script>
    /*function collectionHas(a, b) { //helper function (see below)
        for(var i = 0, len = a.length; i < len; i ++) {
            if(a[i] == b) return true;
        }
        return false;
    }
    function findParentBySelector(elm, selector) {
        var all = document.querySelectorAll(selector);
        var cur = elm.parentNode;
        while(cur && !collectionHas(all, cur)) { //keep going up until you find a match
            cur = cur.parentNode; //go up
        }
        return cur; //will return null if not found
    }

    var yourElm = document.getElementById(".check-add-saviour"); //div in your original code
    var selector = ".list-item-saviour";
    var parent = findParentBySelector(yourElm, selector);

    if(yourElm.textContent != null){
        parent.style.backgroundColor = "#7db46c";
    }*/
</script>
</html>
