<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            <div class="form-group" th:each="user: ${users}">
                <fieldset class="green-border">
                    <legend class="width-correction">
                        Zahtjev za Registraciju
                    </legend>
                    <label>Ime:</label><br>
                    <input type="text" th:value="${user.ime}" readonly><br>
    
                    <label>Prezime:</label><br>
                    <input type="text" th:value="${user.prezime}" readonly><br>
    
                    <label>Korisničko ime:</label><br>
                    <input type="text" th:value="${user.korisnickoIme}" readonly><br>

                    <label>Broj mobitela:</label><br>
                    <input type="text" th:value="${user.brojMobitela}" readonly><br>
    
                    <label>E-mail:</label><br>
                    <input type="text" th:value="${user.email}" readonly><br>

                    <label>Vrsta specijalizacije:</label><br>
                    <input type="text" th:value="${user.vrstaSpecijalizacije}" readonly><br>
                    <br>
    
                    <label>Profilna slika:</label><br>
                    <img class="photo scaled-image-fixed" th:src="@{'data:image/jpeg;base64,'+${user.getPhotoInString}}"/><br>

                    <div class="register-buttons">
                        <form action="/register" method="post">
                            <input type="hidden" name="id" th:value="${user.idKorisnik}">
                            <input type="hidden" name="registered" th:value="true">
                            <button class="accept-button" type="submit" title="Prihvati zahtjev"><i class="far fa-check-circle"></i></button>
                        </form>

                        <form action="/register" method="post">
                            <input type="hidden" name="id" th:value="${user.idKorisnik}">
                            <input type="hidden" name="registered" th:value="false">
                            <button class="ban-button" type="submit" title="Odbij zahtjev"><i class="fas fa-ban"></i></button>
                        </form>
                    </div>
                    <br>
                </fieldset>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>