<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otvori novu akciju</title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="form-group">
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <form action="/createAction" enctype="multipart/form-data" method="post" th:object="${action}">
                    <fieldset>
                        <legend>
                            Stvori akciju
                        </legend>
                        <input name="akcijaStatus" id="akcijaStatus" value="true" type="hidden">
        
                        <label>Fotografije:</label><br>
                        <input type="file" name="fotografije" multiple><br>
                        <br>
                        <br>
                        <div class="center-container">
                            <input type="submit" value="Otvori akciju">
                            <input type="reset" value="Obriši">
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
    
</body>

</html>
