<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stvori novu stanicu</title>
    <th:block th:include="fragments/map.html :: mapfiles">
    </th:block>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="form-group">
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                
                <!--<form action="/admin/createStation" method="post" th:object="${station}">
                    <fieldset>
                        <legend>
                            Stvori stanicu
                        </legend>

                        <label>Ime:</label><br>
                        <input type="text" th:field="*{imeStanice}" required minlength="2"><br>

                        <label>Ime voditelja:</label><br>

                        <select name="idVoditelj">
                            <option th:each="s : ${allSaviours}" th:value="${s.idSpasilac}" th:text="${s.korisnik.ime +' ' + s.korisnik.prezime}">
                            </option>
                        </select>
                        
                        <br>
                        <br>
                        <div class="center-container">
                            <input type="submit" value="Stvori stanicu">
                            <input type="reset" value="Obriši">
                        </div>
                    </fieldset>
                </form>-->
                <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            </div>
            <div class="map-container" th:insert="fragments/map.html :: map">

            </div>
        </section>

    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
    
</body>
<div  th:insert="fragments/map.html :: mapscripts">

</div>
</html>