<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Edit user ' + ${user.korisnik.ime}"></title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <br><h2>Uredi načine osposobljenosti spasioca</h2><br>
                <form action="/spasilac/editstationsaviour" method="POST">
                    <input type="hidden" name="idUser" th:value="*{user.idSpasilac}">

                    <div class="list-item-saviour" th:each="nacin: ${nacini}">
                        <div class="lista-item-text-content" th:text="${nacin.nazivOsposobljenosti}"></div>
                        <label class="check-container">
                            <input class="samo-input" type="checkbox" name="transportId" th:value="${nacin.idOsposobljenosti}">
                            <span class="check-add-saviour"></span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <div class="center-container">
                        <button class="accept-button" type="submit" title="Spremi spasioca"><i class="far fa-check-circle"></i></button>
                        <button class="ban-button" type="reset" title="Obriši odabir"><i class="fas fa-ban"></i></button>
                    </div>
                </form>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>
