<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Edit user ' + ${user.getIdKorisnik()}"></title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <div class="form-group">
                <form action="/admin/edituser" enctype="multipart/form-data" method="POST" th:object="${user}">
                    <fieldset>
                        <legend>
                            Uredi Korisnika
                        </legend>
                        <input type="hidden" th:field="*{idKorisnik}">
                        <label>Profilna slika:</label><br>
                        <img class="photo scaled-image-fixed" th:src="@{'data:image/jpeg;base64,'+${user.getPhotoInString}}"/><br>

                        <label>Ime:</label><br>
                        <input type="text" th:field="*{ime}" required minlength="2"><br>
        
                        <label>Prezime:</label><br>
                        <input type="text" th:field="*{prezime}" required minlength="2" maxlength="15"><br>
        
                        <label>Korisničko ime:</label><br>
                        <input type="text" th:field="*{korisnickoIme}" required minlength="5" maxlength="15"><br>

                        <label>Broj mobitela:</label><br>
                        <input type="text" th:field="*{brojMobitela}" pattern="^([+]?\d{1,2}[-\s]?|)\d{3}[-\s]?\d{3}[-\s]?\d{4}$" required minlength="9" maxlength="15"><br>
        
                        <label>E-mail:</label><br>
                        <input type="text"  th:field="*{email}" pattern="^([a-z0-9]+(?:[._-][a-z0-9]+)*)@([a-z0-9]+(?:[.-][a-z0-9]+)*\.[a-z]{2,})$" required><br>
        
                        <label>Lozinka:</label><br>
                        <input type="text" th:field="*{lozinka}" required><br>

                        <label>Vrsta specijalizacije:</label><br>
                        <select th:field="*{vrstaSpecijalizacije}">
                            <option th:if="${user.getVrstaSpecijalizacije().toString().equals('DISPATCHER')}" value="DISPATCHER" selected>Dispečer</option>
                            <option th:if="${user.getVrstaSpecijalizacije().toString().equals('POLICEMAN')}" value="POLICEMAN" selected>Policajac</option>
                            <option th:if="${user.getVrstaSpecijalizacije().toString().equals('FIREMAN')}" value="FIREMAN" selected>Vatrogasac</option>
                            <option th:if="${user.getVrstaSpecijalizacije().toString().equals('DOCTOR')}" value="DOCTOR" selected>Doktor</option>
                            <option th:unless="${user.getVrstaSpecijalizacije().toString().equals('DISPATCHER')}" value="DISPATCHER">Dispečer</option>
                            <option th:unless="${user.getVrstaSpecijalizacije().toString().equals('POLICEMAN')}" value="POLICEMAN">Policajac</option>
                            <option th:unless="${user.getVrstaSpecijalizacije().toString().equals('FIREMAN')}"value="FIREMAN">Vatrogasac</option>
                            <option th:unless="${user.getVrstaSpecijalizacije().toString().equals('DOCTOR')}" value="DOCTOR">Doktor</option>
                        </select>

                        <br>
                        <br>

                        <div class="center-container">
                            <input type="submit" value="Spremi korisnika">
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>
