<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Uredi stanicu ' + ${station.imeStanice}"></title>
    <th:block th:include="fragments/map.html :: mapfiles">
    </th:block>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <div class="form-group">
                <form action="/admin/edistation" method="POST" th:object="${station}">
                    <fieldset>
                        <legend>
                            Uredi Stanicu
                        </legend>
                        <input type="hidden" th:field="*{idStanica}">
                    
                        <label>Ime:</label><br>
                        <input type="text" th:field="*{imeStanice}" required minlength="2"><br>

                        <label>Voditelj:</label><br>
                        <select name="idVoditelj">
                            <option th:text="${station.voditelj.korisnik.ime + ' ' + station.voditelj.korisnik.prezime}" th:value="*{voditelj.idSpasilac}" selected></option>
                            <option th:each="s : ${allSaviours}" th:if="${s.idSpasilac != station.voditelj.idSpasilac}" th:text="${s.korisnik.ime +' ' + s.korisnik.prezime}">
                            </option>
                        </select><br>
                        
                        <br>
                        <br>

                        <div class="center-container">
                            <input type="submit" value="Spremi stanicu">
                        </div>
                    </fieldset>
                </form>
            </div>

        </section>

    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>

</html>
