<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijavi se</title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-gray">
        <section class="form-container">
            <div class="form-title">
                Prijava
            </div>
            <div class="form-group">
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <form action="/login" method="post" th:object="${user}">
                    <fieldset>
                        <label>E-mail:</label><br>
                        <input type="text" id="email" name="email" required><br>
        
                        <label>Lozinka:</label><br>
                        <input type="password" id="lozinka" name="lozinka" required><br>
                        <br>
                        <div class="btns-container">
                            <input type="submit" value="Prijavi se" class="btn">
                            <input type="reset" value="Obriši" class="btn reset-btn">
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>