<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registriraj se</title>
</head>

<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="form-container">
            <div class="form-title">
                Registracija
            </div>
            <div class="form-group">
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <form action="/registerUser" enctype="multipart/form-data" method="post" th:object="${user}">
                    <fieldset>
                    
                        <label>Ime:</label><br>
                        <input type="text" th:field="*{ime}" required minlength="2"><br>
        
                        <label>Prezime:</label><br>
                        <input type="text" th:field="*{prezime}" required minlength="2" maxlength="15"><br>
        
                        <label>Korisničko ime:</label><br>
                        <input type="text" th:field="*{korisnickoIme}" required minlength="5" maxlength="15"><br>

                        <label>Broj mobitela:</label><br>
                        <input type="text" th:field="*{brojMobitela}" pattern="^([+]?\d{1,2}[-\s]?|)\d{3}[-\s]?\d{3}[-\s]?\d{4}$" required minlength="9" maxlength="15"><br>
        
                        <label>E-mail:</label><br>
                        <input type="text"  th:field="*{email}" pattern="^([a-z0-9]+(?:[._-][a-z0-9]+)*)@([a-z0-9]+(?:[.-][a-z0-9]+)*\.[a-z]{2,})$" required><br>
        
                        <label>Lozinka:</label><br>
                        <input type="password" th:field="*{lozinka}" required><br>
    
                        <label>Vrsta specijalizacije:</label><br>
                        <select th:field="*{vrstaSpecijalizacije}">
                            <option value="DISPATCHER" selected>Dispečer</option>
                            <option value="POLICEMAN">Policajac</option>
                            <option value="FIREMAN">Vatrogasac</option>
                            <option value="DOCTOR">Doktor</option>
                        </select><br>
        
                        <label>Fotografija:</label><br>
                        <input type="file" id="fotografija" name="fotografija" accept=".jpg, .jpeg, .png" required><br>
                        <br>
                        <div class="btns-container">
                            <input type="submit" value="Pošalji zahtjev" class="btn">
                            <input type="reset" value="Obriši" class="btn reset-btn">
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>

</html>