<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista spasioca stanice</title>
</head>
<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-gray">
        <section class="container">
            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            <div class="list-item" th:each="stationsaviour: ${stationsaviours}">
               <div class="lista-item-text">
                    <div class="lista-item-text-content" th:text="${stationsaviour.korisnik.ime}"></div>
                    <div class="lista-item-text-content" th:text="${stationsaviour.korisnik.getVrstaSpecijalizacije().toCroWord(stationsaviour.korisnik.getVrstaSpecijalizacije())}"></div>
                    <div>
                        <a class="transport-button" th:href="@{edittransport/{id}(id=${stationsaviour.idSpasilac})}" title="Edit transport"><i class="fas fa-truck"></i></a>
                        <form action="/removestationsaviour" method="post">
                            <input type="hidden" name="id" th:value="${stationsaviour.korisnik.idKorisnik}">
                            <button class="ban-button" type="submit" title="Izbriši korisnika"><i class="fas fa-minus"></i></button>
                        </form>
                    </div>
               </div>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>