<!DOCTYPE HTML>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header class="header main-color-green">
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img class="scaled-image scaled-image-fixed" src="/images/logo1.png" alt="halo112 logo">
            </a>
        </div>
        <ul class="nav-links">
            <input class="nav-checkbox" type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
                <li><a href="/">Početna</a></li>
                <li th:if="${loggedUser == null}"><a href="/login" >Prijavi se</a></li>
                <li th:if="${loggedUser == null}"><a href="/register">Registriraj se</a></li>
                <li th:if="${loggedUser != null}">
                    <a href="/admin" th:if="${role.equals('Admin')}">Admin</a>
                    <a href="/dispecer" th:if="${role.equals('Dispečer')}">Dispečer</a>
                    <a href="/spasilac" th:if="${role.equals('Policajac') or role.equals('Doktor') or role.equals('Vatrogasac')}">Spasilac</a>
                </li>
                <li th:if="${loggedUser != null && role.equals('Admin')}"><a href="/admin/userlist">Lista Korisnika</a></li>
                <li class="stations" th:if="${loggedUser != null  && role.equals('Admin')}"><span class="nav-span">Stanice</span>
                    <ul class="submenu">
                        <li><a href="/admin/stationlist">Uredi stanice</a></li>
                        <li><a href="/admin/createstation">Dodaj stanicu</a></li>
                    </ul>
                </li>
                <li class="stations" th:if="${loggedUser != null && isVoditelj}"><span class="nav-span">Spasioci</span>
                    <ul class="submenu">
                        <li><a th:href="@{/{nazivstanice}/addsaviour(nazivstanice = ${nazivstanice})}">Dodaj spasioce stanici</a></li>
                        <li><a th:href="@{/{nazivstanice}/stationsaviourlist(nazivstanice = ${nazivstanice})}">Spasioci stanice</a></li>
                    </ul>
                </li>
                <!--<li class="stations" th:if="${loggedUser != null && dispecer != null}"><span class="nav-span">Akcije</span>
                    <ul class="submenu">
                        <li><a href="/dispecer/createaction">Nova Akcija</a></li>
                        <li><a href="/dispecer/actionlist">Lista Akcija</a></li>
                    </ul>
                </li>-->
                <li th:if="${loggedUser != null}"><a href="/odjaviSe">Odjavi se</a></li>
                <li th:if="${loggedUser != null}" th:text="${loggedUser.getKorisnickoIme()}"><p class="menu-username" ></p></li>
            </div>
        </ul>
    </nav>
</header>


<footer th:fragment="footer"  class="footer main-color-green">
    <div class="container">
        <div class="footer-content">
            halo112 - JuretovDojo -
            <a id="gitlab-link" title="Halo112 Gitlab" href="https://gitlab.com/juretovdojo/halo112repo">halo112repo</a>
        </div>
    </div>
</footer>
</body>
</html>