<!DOCTYPE html>
<html lang="hr" xlmns:th="https://www.thymeleaf.org">
<head th:fragment="mapfiles">
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script> -->
    <link href="/css/leaflet-routing-machine.css" rel="stylesheet"/>
    <script src="/js/leaflet-routing-machine.js"></script>
    <script src="https://d3js.org/d3-voronoi.v1.min.js"></script>
    <script src="/js/leaflet-partition.min.js"></script>
    
</head>
<body class="body">
    <main>
        <div th:fragment="map" id="map" onload="map()" style="width: 100%; height: 100%; position: relative">
            <div id="forms" style="display: none">
                <form class="hidden-form" id="input_form">
                    <input id="location" name="location" type="hidden">
                </form>
                <form id="comment">
                    <label style="font-weight: bold;font-size: medium">Novi komentar</label>
                    <br>
                    <br>
                    <input id="action_comment" name="text" placeholder="Upišite komentar" required type="text">
                    <input id="location" name="location" type="hidden">
                    <input id="comment_action" name="actionId" type="hidden">
                    <br>
                    <br>
                    <button type="submit" value="Spremi">Dodaj komentar</button>
                </form>
                <form id="createStation">
                    <label style="font-weight: bold;font-size: medium">Nova stanica</label>
                    <br>
                    <br>
                    <input id="location" name="location" type="hidden">
                    <input id="imeStanice" name="imeStanice" placeholder="Upišite naziv stanice" required type="text" minlength="2">
                    <br>
                    <br>
                    <label>Ime voditelja:</label><br>
                    <select name="idVoditelj">
                        <option th:each="s : ${allSaviours}" th:value="${s.idSpasilac}" th:text="${s.korisnik.ime +' ' + s.korisnik.prezime}">
                        </option>
                    </select>
                    <br>
                    <br>
                    <button type="submit" value="Spremi">Stvori stanicu</button>
                </form>
                <form id="createAction" enctype="multipart/form-data">
                    <label style="font-weight: bold;font-size: medium">Nova akcija</label>
                    <br>
                    <br>
                    <input id="location" name="location" type="hidden">
                    <label>Fotografije:</label><br>
                    <input type="file" name="fotografije" multiple><br>
                    <br>
                    <br>
                    <button type="submit" value="Spremi">Otvori akciju</button>
                </form>
                <form id="assignTask">
                    <input id="komentar" name="komentar" placeholder="Upišite komentar" required type="text">
                    <input id="task_location" name="location" required type="hidden">
                    <input id="task_action" name="actionId" type="hidden">
                    <!--<select id="taskType" required th:name="taskType">
                        <th:block th:each="type : ${taskTypes}">
                            <option th:text="${type.toCroWord()}" th:value="${type}"></option>
                        </th:block>
                    </select>-->
                    <br>
                    <br>
                    <label>Odaberi spasioca</label><br>
                    <select id="tasksUser" required name="actionSavior">
                        <!-- <option class="task-option" value="null" disabled selected>Odaberi spasioca</option> -->
                    </select>
                    <br>
                    <br>
                    <button type="submit" value="Spremi">Zadaj zadatak</button>
                </form>
                <form id="deleteMarker">
                    <input id="marker_id" name="markerId" type="hidden">
                </form>
                <form id="closeAction">
                    <input type="hidden" name="actionId" id="actionId">
                </form>
            </div>
        </div>
    
    </main>
</body>
<div th:fragment="mapscripts">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
    
    <script th:inline="javascript">
        
        var pauseTimer = false;
        
        var isAdmin = [[${isAdminLoggedIn}]];
        console.log(isAdmin);
        
        var stations = [[${allStations}]],
            comments = [[${allComments}]],
            actions = [[${allActions}]],
            waypoints = [],
            saviours = [[${allSaviours}]],
            tasks = [[${allTasks}]];
        
            var map = L.map('map', {minZoom: 2}).setView([45.81299608534801, 15.977950650830469], 7);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            
            const stationIcon = L.icon({
                iconUrl: '/images/stationIcon.png',
                iconSize: [35, 35], // size of the icon
                iconAnchor: [15, 60], // point of the icon which will correspond to marker's location
                popupAnchor: [3, -60] // point from which the popup should open relative to the iconAnchor
            });
            
            const actionIcon = L.icon({
                iconUrl: '/images/actionIcon.png',
                iconSize: [35, 35],
                iconAnchor: [15, 60],
                popupAnchor: [3, -60]
            });
            
            const commentIcon = L.icon({
                iconUrl: '/images/comment.png',
                iconSize: [35, 35],
                iconAnchor: [15, 60],
                popupAnchor: [3, -60]
            });
            
            const saviourIcon = L.icon({
                iconUrl: '/images/saviour.png',
                iconSize: [35, 35],
                iconAnchor: [15, 60],
                popupAnchor: [3, -60]
            });
            
            const taskIcon = L.icon({
                iconUrl: '/images/task.png',
                iconSize: [35, 35],
                iconAnchor: [15, 60],
                popupAnchor: [3, -60]
            });
            
            const waypointIcon = L.icon({
                iconUrl: '/images/waypoint.png',
                iconSize: [25, 25],
                iconAnchor: [15, 60],
                popupAnchor: [3, -60]
            });
            
            var markers = []
            let spasilac = [[${currentSaviour}]];
            console.log(spasilac);
            if(spasilac != null && spasilac.lokacija != null){
                let ospos = '';
                spasilac.osposobljenosti.forEach(osp => {
                    ospos = ospos + osp.nazivOsposobljenosti + ', ';
                });
                ospos = ospos.substring(0,ospos.length-2);
                var marker = createMarker([spasilac.lokacija.sirina, spasilac.lokacija.duzina], saviourIcon, 'saviour',
                '<b>' + spasilac.korisnik.ime + ' ' + spasilac.korisnik.prezime + "</b><br><br>" + spasilac.korisnik.vrstaSpecijalizacijeString
                + "</b><br><br>Osposobljenosti: " + ospos,
                spasilac.idSpasilac);
                waypoints.push([spasilac.lokacija.sirina, spasilac.lokacija.duzina]);
            }
            
            L.marker([45.81299608534801, 15.977950650830469]).addTo(map)
            .bindPopup('Adventski vijenac je tu')
            
            
            function createMarker(coords, markerIcon, markerType, popContent, id) {
                var popupContent = popContent;
                if(isAdmin && markerType == 'station') {
                    var popupContent = popContent +  
                    '<br><a href="/admin/editstation/' + id + '">Uredi stanicu</a>';
                }
                if([[${loggedInType}]] == 'Dispecer' && markerType == 'action') {
                    var popupContent = popContent +  
                    '<br><br><a href="/dispecer/action/' + id + '">Više detalja</a><br><br>' + 
                    '<a href="/dispecer/action/request/' + id + '">Zahtjevi</a><br><br>' + 
                    '<button class="ban-button" onclick="closeAction(' + id + ')" title="Zatvori akciju"><i class="far fa-window-close"></i></button>';
            }
            if([[${loggedInType}]] == 'Spasilac' && markerType == 'task') {
                var popupContent = popContent +  
                    '<button class="add-button" onclick="addWaypoint(' + coords[0] + ',' + coords[1] + ')" title="Zatvori akciju">Dodaj na rutu</button>';
            }

            if(markerType != "waypoint"){
                myMarker = L.marker(coords, {
                    icon: markerIcon
                });
            }
            myMarker._id = id
            var myPopup = myMarker.bindPopup(popupContent, {
                closeButton: false
            });
            map.addLayer(myMarker);
            markers.push(myMarker);
            return myMarker;
        }

        function clearMarker(id) {
            var deleteForm = L.DomUtil.get("deleteMarker")
            deleteForm.markerId.value = id;
            deleteForm.action = "/deleteMarker";
            deleteForm.submit();
        }

        function closeAction(id) {
            var closeForm = L.DomUtil.get("closeAction");
            closeForm.actionId.value = id;
            closeForm.action = "/closeAction";
            closeForm.method = "POST"
            closeForm.submit();
        }

        function clearMarkerLayer(id) {
            var new_markers = []
            markers.forEach(function (marker) {
                if (marker._id == id) {

                    map.removeLayer(marker);
                } else new_markers.push(marker)
            })
            markers = new_markers
        }

        for (let i = 0; i < stations.length; i++) {
            createMarker([parseFloat(stations[i].sirina), parseFloat(stations[i].duzina)], stationIcon, 'station',
                "<b>Stanica " + stations[i].imeStanice + "</b><br><br>" + 
                "<b>Broj dostupnih spasilaca: " + stations[i].brojSpasilaca + "</b><br>",
                stations[i].idStanice)
        }
        
        if(!isAdmin) {
            for (let i = 0; i < comments.length; i++) {
                createMarker([parseFloat(comments[i].lokacija.sirina), parseFloat(comments[i].lokacija.duzina)], commentIcon, 'comment',
                    "<b>Komentar</b><br><br>" + comments[i].tekst, comments[i].commentId)
            }
        }
        // ovo je drugacije od drugih actions
        if(!isAdmin) {
            for (let i = 0; i < actions.length; i++) {
                createMarker([actions[i].sirina, actions[i].duzina], actionIcon, 'action',
                    "<b>Akcija " + actions[i].actionId + "</b><br><br>Aktivna: " + actions[i].active,
                    actions[i].actionId)
            }
        }
        if(!isAdmin) {
            for (let i = 0; i < saviours.length; i++) {
                let ospos = '';
                saviours[i].osposobljenosti.forEach(osp => {
                    ospos = ospos + osp.nazivOsposobljenosti + ', ';
                });
                ospos = ospos.substring(0, ospos.length-2);
                if (saviours[i].lokacija != null) {
                    createMarker([parseFloat(saviours[i].lokacija.sirina), parseFloat(saviours[i].lokacija.duzina)], saviourIcon, 'saviour',
                            '<b>' + saviours[i].korisnik.ime + ' ' + saviours[i].korisnik.prezime + "</b><br><br>" + saviours[i].korisnik.vrstaSpecijalizacijeString
                            + "</b><br><br>Osposobljenosti: " + ospos,
                            saviours[i].idSpasilac)
                }
            }
        }
        /*
        for (let i = 0; i < wayPoints.length; i++) {
            createMarker([wayPoints[i].location.x, wayPoints[i].location.y], wayPointIcon,
                "<b>" + wayPoints[i].location.x + "</b>" + " " + "<b>" + wayPoints[i].location.y + "</b>", wayPoints[i].wayPointId)
        }
        */
       
        if(!isAdmin) {
            for (let i = 0; i < tasks.length; i++) {
                createMarker([parseFloat(tasks[i].lokacija.sirina), parseFloat(tasks[i].lokacija.duzina)], taskIcon, 'task',
                    "<b>Zadatak</b><br><br>Komentar: " + tasks[i].opis + "<br><br>", tasks[i].idzadatak)
            }
        }

        var lat;
        var popup = L.popup()
        map.on('click', function (e) {
            popup.setContent(container)
                .setLatLng(e.latlng)
                .openOn(map);
            lat = popup.getLatLng()
        })

        var commentBtn = createButton('Dodaj komentar', "comment"),
            actionBtn = createButton('Otvori akciju', "createAction"),
            waypointBtn = createButton('Dodaj odredište', "waypoint"),
            createStationBtn = createButton('Napravi novu stanicu', "createStation"),
            iAmHereBtn = createButton('Tu sam!', "saviour"),
            assignTaskBtn = createButton('Zadaj novi zadatak', "assignTask");
        var buttons;
        var container = createContainer();


        function createButton(label, name) {
            let btn = L.DomUtil.create('button', '');
            btn.setAttribute('type', 'button');
            btn.setAttribute('name', name)
            btn.innerHTML = label;
            return btn;
        }

        function createContainer() {
            let cont = L.DomUtil.get("input_form");
            console.log([[${loggedInType}]]);
            switch ([[${loggedInType}]]) {
                case 'Spasilac':
                    buttons = [commentBtn, iAmHereBtn, waypointBtn];
                    break;
                case 'Dispecer':
                    buttons = [actionBtn, commentBtn, assignTaskBtn];
                    break;
                case 'Admin':
                    buttons = [createStationBtn]
                    break;
                default:
                    console.log("Nein match user! Who is U?")
            }

            for (let i = 0; i < buttons.length; i++) {
                cont.appendChild(buttons[i])
                cont.appendChild(document.createElement("br"))
            }
            return cont;
        }

        var btnClicked;
        L.DomEvent.on(commentBtn, 'click', function () {
            btnClicked = commentBtn.name;
            createSubmitForm();
        });
        L.DomEvent.on(actionBtn, 'click', function () {
            btnClicked = actionBtn.name;
            createSubmitForm();
        });
        L.DomEvent.on(waypointBtn, 'click', function () {
            btnClicked = waypointBtn.name;
            waypoints.push([lat.lat, lat.lng]);
            console.log("waypoints: " + waypoints);
            //createMarker([lat.lat, lat.lng], waypointIcon, 'waypoint', 'Waypoint', 0);
            makePath(waypoints);
        });
        L.DomEvent.on(createStationBtn, 'click', function () {
            btnClicked = createStationBtn.name;
            createSubmitForm();
        });
        L.DomEvent.on(iAmHereBtn, 'click', function () {
            btnClicked = iAmHereBtn.name;
            waypoints[0] = [lat.lat, lat.lng];
            makePath(waypoints);
            markLocation();
        });

        L.DomEvent.on(assignTaskBtn, 'click', function () {
            btnClicked = assignTaskBtn.name;
            createSubmitForm();
        });


        function createSubmitForm() {
            var formContainer = document.getElementById(btnClicked).cloneNode(true);
            console.log(formContainer);
            formContainer.action = "/" + btnClicked;
            formContainer.method = "POST"
            formContainer.classList.add("task-form-container")
            formContainer.location.value = lat.lat.toString() + "$" + lat.lng.toString()
            document.body.appendChild(formContainer)
            switch (btnClicked) {
                /*case "waypoint":
                    formContainer.submit()
                    break;*/
                case "comment":
                    formContainer.actionId.value = closestAction();
                    popup.setContent(formContainer);
                    break
                case "assignTask":
                    var actionId = closestAction()
                    formContainer.actionId.value = actionId;
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json",
                        url: "/tasksaviours",
                        data: actionId,
                        success: function (spasioci) {
                            console.log("AJAX: ", spasioci);
                            if (spasioci.length) {
                                let formContainer = document.querySelector(".task-form-container");
                                let selectContainer = formContainer.querySelector("#tasksUser");
                                console.log(selectContainer);
                                spasioci.forEach(spasilac => {
                                    let newOption = new Option(spasilac.korisnik.ime + ' ' + spasilac.korisnik.prezime, spasilac.idSpasilac);
                                    // let option = document.querySelector(".task-option").cloneNode(true);
                                    // option.
                                    // option.value = spasilac.idSpasilac;
                                    // option.text = spasilac.korisnik.ime + ' ' + spasilac.korisnik.prezime;
                                    console.log(newOption);
                                    selectContainer.appendChild(newOption); //ako se opcije ne prikazuju kako treba, mozda ih krivo ubacujemo
                                });
                                console.log(formContainer);
                                popup.setContent(formContainer);
                            } else {
                                alert("nema spasioca na ovoj akciji");
                            }
                        },
                        error: function (e) {
                            console.log("ERROR: ", e);
                            alert("dogodila se greška prilikom slanja");
                        },
                        done: function (e) {
                        }
                    });
                    popup.setContent(formContainer);
                    break
                default:
                    popup.setContent(formContainer);
            }
        }

        function closestAction() {
            let minDist = Math.sqrt(Math.pow(lat.lat - actions[0].sirina, 2) + Math.pow(lat.lng - actions[0].duzina, 2));
            let minActionId = actions[0].actionId;
            for (let i = 1; i < actions.length; i++) {
                let dist = Math.sqrt(Math.pow(lat.lat - actions[i].sirina, 2) + Math.pow(lat.lng - actions[i].duzina, 2));
                if (dist < minDist) {
                    minDist = dist;
                    minActionId = actions[i].actionId;
                }
            }
            return minActionId;
        }

        function generateAlert(request) {
            console.log(request);
            if (request.length == 0) {
                return
            }
            if (confirm("Zahtjev za akciju!\nRazina hitnosti: " + request[0].razinaHitnosti + "\nInfo: " + request[0].informacija)) {
                var data = true;
            } else {
                var data = false;
            }
            data = '{"data":"' + data + '", "idZahtjev":"' + request[0].idZahtjev + '"}'
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/saviourresponse",
                data: data,
                success: function (allActions) {
                    console.log("AJAX: ", allActions);
                    if (allActions) {
                        createMarker([allActions[0].sirina, allActions[0].duzina], actionIcon, 'action',
                            "<b>Akcija " + allActions[0].actionId + "</b><br><br>Aktivna: " + allActions[0].active,
                            allActions[0].actionId)

                        const $selectForm = document.querySelector("select#spasilacStatus");
                        $selectForm.value = 'false';

                        alert("uspješno si stavljen na akciju");
                    } else {
                        alert("neuspješno si stavljen na akciju");
                    }
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    alert("dogodila se greška prilikom slanja");
                },
                done: function (e) {
                }
            });
        }

        /*function timer() {
            console.log('i ovo je ok');
            setTimeout(function () {
                setInterval(checkRequest, 5000);
                alert('ovo je ok');
            }, 2000);
        }*/

        function checkRequest() {
            var data;
            console.log("ajax saviour request");
            $.ajax({
                type: 'GET',
                url: "/saviourrequest",
                success: function (res) {
                    console.log("AJAX: ", res);
                    request = res;
                    pauseTimer = true;
                    generateAlert(request);
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                },
                done: function (e) {
                }
            });
        }

        function markLocation() {
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/marklocation",
                data: '{"sirina":"' + lat.lat.toString() + '", "duzina":"' + lat.lng.toString() + '"}',
                success: function (spasilac) {
                    //console.log("AJAX: ", spasilac);
                    if (marker != null) {
                        map.removeLayer(marker);
                    }
                    if (spasilac) {
                        marker = createMarker([spasilac.lokacija.sirina, spasilac.lokacija.duzina], saviourIcon, 'saviour',
                            '<b>' + spasilac.korisnik.ime + ' ' + spasilac.korisnik.prezime + "</b><br><br>" + spasilac.korisnik.vrstaSpecijalizacijeString,
                            spasilac.idSpasilac)
                    } else {
                        alert("ti ne postojis");
                    }
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    alert("dogodila se greška prilikom slanja");
                },
                done: function (e) {
                }
            });
        }

        function addWaypoint (sirina, duzina) {
            waypoints.push([sirina, duzina]);
            makePath(waypoints);
        }

        function makePath(waypoints) {
            try {
                if(waypoints.length > 0){
                    let leafletContainer = document.querySelector("div.leaflet-routing-container");
                    var rightContainer = document.querySelector(".right-container");
                    rightContainer.removeChild(leafletContainer);
                    
                    /*
                    let g = document.querySelector("svg>g");
                    console.log(g)
                    let svg = document.querySelector("svg.leaflet-zoom-animated");
                    console.log(svg)
                    if(svg != null){
                        svg.removeChild(g);
                    }*/
                }
            } catch (error) {
                console.error(error);
            }

            let route = L.Routing.control({
                waypoints: waypoints,
                routeWhileDragging: true
            });
            route.addTo(map)

            var ruta = document.querySelector("div.leaflet-top.leaflet-right>div.leaflet-routing-container");
            if(ruta != undefined){
                let rightContainer = document.querySelector(".right-container");
                rightContainer.appendChild(ruta);
            }
        }
    </script>
</div>
</html>
